[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
requests = "*"
pytest-env = "*"

[packages]
fastapi = "*"
uvicorn = "*"
loguru = "*"
app = {editable = true, path = "."}
asyncpg = "*"
databases = "*"

[requires]
python_version = "3.9"
